#header {
  color: #fff;
  background: #e74c3c;
}

#logo {
  font-size: 2rem;
  margin-top: 5px;
}
#menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
}

#menu li a {
  color: #fff;
  padding: 15px 15px;
  display: block;
  text-decoration: none;
}

#menu li a:hover {
  background: #c0392b;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section h2.section-head {
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.section h2.section-head:after {
  background: #e74c3c;
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 20px auto;
}
#banner {
  background: url("../images/banniere1.jpg") no-repeat 0 0;
  background-size: cover;
  height: 400px;
}

.banner-title {
  padding-top: 5rem;
}
.banner-title h1 {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.banner-title p.lead {
  color: #fff;
  background: rgba(231, 76, 60, 0.7);
  padding: 10px;
}

.service-box {
  text-align: center;
}

.service-box i.fa {
  color: #e74c3c;
  font-size: 70px;
  margin-bottom: 15px;
}

#testimonials {
  color: #fff;
  background: url("images/testimony.jpg") no-repeat 0 0;
  background-size: cover;
  padding: 50px 0;
  position: relative;
}

/* #testimonials:before{
    background:rgba(52,73,94,0.7);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
} */
.testimonial {
  text-align: center;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.news-post img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
}

.news-post h3{
    font-size: 1.35rem;
}

.news-post h3 a{
    color: #e74c3c;
}

.poste-date{
    font-size: 13px;
    margin-bottom: 2px;
}

.post-date:before{
    content:"\f073";
    font-family: FontAwesome ;
    padding-right: 5px;
}

a.readmore{
    font-size: 16px;
    color: #e74c3c;
    text-decoration: none;
}

a.readmore:after{
    content: "\f101";
    font-family: FontAwesome;
    font-size: 10px;
}